body {
    background: linear-gradient(to right, #ffdc00 0%,#ffac00 100%);
    font-size: 1.2rem;
}

header img {
    width: 50px;
}

h1 {
    padding-top: 0px;
    margin-top: 0px;
}
h2 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

hr {
    border: 2px solid black;
    //border-radius: 4px;
}

header {
    margin-bottom: 20px;
}

main, header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input {
    width: 100%;
    font-size: 20px;
    border-radius: 4px;
    border-style: none;
    padding: 5px 10px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: black;
    color: white;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-container > div {
    background: rgba(0, 0, 0, 0.1);

    border-radius: 10px;
    padding: 40px;
}

main > div {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
}

.error {
    padding: 10px;
    text-align: left;
    background-color: red;
    color: white;
    margin: 10px 0px;
}
a {
    color: black;
}
a:hover {
    color: slategray;
}

a.logout {
    color: black;
    text-decoration: none;
    font-size: 1rem;
}
a.logout:hover {
    color: slategray;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.alLeft {
    text-align: left;
}
.alCenter {
    text-align: center;
}
.alRight {
    text-align: right;
}

/* TABLES */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
td {
    padding: 4px 10px;
}
tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

/* MESSAGES */
.success {
    padding: 10px;
    background-color: forestgreen;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.closebtn:hover {
    color: black;
}

.hidden {
    display: none;
}